
/*******************************************
				Defaults

Remember to use something like type-scale.com
to get your font sizes
*******************************************/
*{
	padding:0;
	margin: 0;
}
html,body{
    margin: 3% 0;
    background-color: yellow;
}
h1,
h2,
p{
    font-family: arial;
}

/*******************************************
				Layout
*******************************************/
.wrapper{
    width: 90%;
    margin: 0 auto;
    background-color: grey;
}
.masthead{
    padding: 2%;
    text-align: center;
}
.main{
    padding: 2%;
}
.foot{
    padding: 2%;
}
.main >h2 ,
.main >p{
    padding-left: 2%;
}

/*******************************************
				Form Styles
*******************************************/
.formBox,
.col{
    margin: 1.0rem 0;
}
.buttons{

}
label{
    display:block;
    font-family: arial;
}
input[type=text],
input[type=number],
input[type=date],
input[type=range]{
    width: 80%;
}
input[type=submit],
input[type=reset]{
    width: 80%;
    margin-bottom: 1.0rem;
    margin-left: 5%;
}


/*******************************************
				Image Styles
*******************************************/



/*******************************************
            Form
*******************************************/
#travelForm{
    padding: 2%;
}


/*******************************************
            Responsive Parameters
*******************************************/
@media screen and (min-width:500px){

    label{
        display: inline;
        width: 20%;
        float: left;
        text-align: right;
        margin-right: 4%;
    }

    input[type=text],
    input[type=number],
    input[type=date],
    input[type=range]{
        width: 60%
    }

    input[type=submit],
    input[type=reset]{
        width: 60%;
        margin-left: 27%;
    }
}

@media screen and (min-width:780px){
    .formBox{
        float: left;
        width: 25%;
    }

    label{
        display: block;
        width:100%;
        text-align: left;
        margin-right: 0%;
    }

    .col{
        width:25%;
        display:inline-block;
    }

}
