
/*******************************************
				Defaults

Remember to use something like type-scale.com
to get your font sizes
*******************************************/
*{
	padding:0;
	margin: 0;
}
html,body{
    margin: 3% 0;
    background: url("../img/banner3.jpg") no-repeat top right;
}
h1,
h2,
p{
    font-family: arial;
}

/*******************************************
				Layout
*******************************************/
.wrapper{
    width: 90%;
    margin: 0 auto;
    background: rgba(0,0,0,0.72);
    color: white;
}
.masthead{
    padding: 2%;
    text-align: center;
}
.main{
    padding: 2%;
}
.foot{
    padding: 2%;
}
.main >h2 ,
.main >p{
    padding-left: 2%;
}

.foot{
    clear: both;
}

/*******************************************
				Form Styles
*******************************************/
.formBox,
.col{
    margin: 1.0rem 0;
}
.buttons{

}
label{
    display:block;
    font-family: arial;
}
input[type=text],
input[type=number],
input[type=date],
input[type=range]{
    width: 80%;
}
input[type=submit],
input[type=reset]{
    width: 38%;
    margin: 3.0rem 0 1.0rem 5%;
}


/*******************************************
				Image Styles
*******************************************/
svg{
    fill: #FFF71A;
}


/*******************************************
            Form
*******************************************/
#travelForm{
    padding: 2%;
}


/*******************************************
            Responsive Parameters
*******************************************/
@media screen and (min-width:500px){

    .formBox{
        float: left;
        width: 50%;
    }

    .col{
        float: left;
        width: 50%;
    }

    svg{
        fill: #46D9FF;
    }
}

@media screen and (min-width:780px){
    .formBox{
        float: left;
        width: 25%;
    }

    label{
        display: block;
        width:100%;
        text-align: left;
        margin-right: 0%;
    }

    .col{
        width:25%;
        display:inline-block;
    }

    /* for the buttons reset their position to start in a new line.*/
    .col.buttons{
        width: 100%;
        display: block;
    }

    svg{
        fill: #FF8216;
    }

}
